*{
    margin: 0px;
}
/* Formatação do cabeçalho */

nav {
    position: relative;
    display: block;
    background-color: black;
    height: 126px;
    padding: 8px 5px;
}

.logo {
    display: block;
    margin-left: 26px;
    width: 200px;
    padding: 6px;
}

.logo img{
    margin-left:4px;
}

.link{
    padding: 5px;
}

.links {
    position: absolute;
    height: 20px;    
    left: 550px;
    bottom: 50px;    
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: yellow;
    height: 20px;
    margin: 38px;
    font-weight: bold;   
}
/* Fim formatação do cabeçalho */
/* Formatação da section principal */
main {
    background: url("../imagens/fundo-index.jpeg") no-repeat center ;
    background-size: cover;
    background-position: fixed;
    height: 900px;
    align-items:center ;
}

.principal {
    padding-top:36px ;
    padding-inline-start: 20px;
}
.principal h1, h3{
    color: whitesmoke;
    font-size: 32px;
    text-align: center;
}

.principal h2{
    width: 450px;
    margin: 20px 20px;
    color: whitesmoke;
    font-size: 24px;
    text-align: left;

}
.principal h3 a{
    text-decoration: none;
    color:white;
    text-align: center;
}

.diversidade {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    
}

/* .principal h3 {
   
    color: whitesmoke;
    width: 400px;
    font-size: 25px;
    text-align: center;
} */


/* Posicionamnento dos botões de denúncia */
.botoes{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;    
    margin: 300px 100px 0px 100px;
}

button {   
    position: relative;
    width: 180px;
    height: 64px;
    color: white;
    background: none;
    border-radius: 5px;
    border-color: white;
    font-weight: bolder;
    margin-bottom: 10px;
    justify-content: space-between;
    font-size: 20px;
   
}
/* Fim do posicionamento dos botões de denúncia */
/* Fim da formatação da section principal */

/* Formatação quem somos */
.artigos2 {
    background: url("../imagens/fundoquemsomos.png") no-repeat center;
    background-size: cover;
    background-position: fixed;
    font-size: 24px;
    text-align: center;   
}

h3.artigoblack {
    color: black;
}

.quemsomos {
    display: flex;
    justify-content: space-between;

}

.missao {
    display: flex;
    justify-content: space-between;
}

.valores {
    display: flex;
    justify-content: space-between;
}
.quemsomos h3 {
   padding: 15px;
}

/* .artigos {
    justify-content: center;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 500px 500px 500px;
} */
/* fim formatação quem somos */
/* foratação rodapé */
.rodape{
    background-color: black;
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: yellow;
}
.divisao{
    height: 10px;
    margin: 30px;
    background-color:black;
}