body {
    background-color: #cccccc;
}

main {
    display: block;
}


/* CABEÇALHO */

header {
    background-color: #000000;
    padding-bottom: 48px;
}

header h1 {
    color: #E4E849;
    margin-bottom: 15px;
    margin-top: 0px;
}

header .tema {
    display: block;
    margin: -40px auto 0px 28%;
    font-size: 18px;
}

header .container-img {
    display: flex;
    justify-content: space-between;
    padding: 36px 42px 0px;
}


/* MENU LATERAL */

.menu-lateral {
    display: block;
    width: 20%;
    height: 60px;
    padding: 2px;
}

.menu-lateral li {
    font-family: 'Montserrat', sans-serif;
    background-color: #E4E849;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    height: 40px;
    border-radius: 9px;
    border: solid black;
    border-width: 3px;
    margin: 1px auto 0px;
    width: 98%;
    padding: 10px;
    max-width: 700px;
}

.menu-lateral a:hover {
    cursor: pointer;
    background-color: #a8ab30;
}

a {
    text-decoration: none;
    color: black;
}


/*FORMULÁRIO*/

main .container-formulario {
    width: 45%;
    max-width: 1400px;
    display: block;
    margin: -100px auto 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ffffff;
    border-width: 3px;
}

main .container-formulario .input-formulario {
    position: relative;
    margin: 5px auto 5px;
    padding: 0px;
    width: 98%;
}

#caixadetexto {
    margin-bottom: 0px;
}

main .container-formulario .input-formulario textarea {
    width: 100%;
    height: 120px;
    margin: 8px auto 8px;
    border-radius: 12px;
    border-color: #000000;
    font-weight: bold;
}

#caixadetexto {
    margin-bottom: 0px;
}

main .container-formulario .input-formulario label {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

main .container-formulario .input-formulario input {
    width: 100%;
    height: 40px;
    margin: 8px auto 8px;
    border-radius: 8px;
    border-color: #cccccc;
}

main .container-formulario .input-formulario textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}


/* RODAPÉ */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    width: 45%;
    max-width: 1400px;
    height: 60px;
    margin: 0px auto 8px;
    padding: 0px 5% 0px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

footer form {
    color: #E4E849;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label:hover {
    cursor: pointer;
}

footer button {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #E4E849;
    color: #000000;
    height: 40px;
    width: 25%;
    border-radius: 10px;
}

footer button:hover {
    cursor: pointer;
    background-color: #a8ab30;
}